In [13]:

import pandas as pd
import numpy as np
import math

'''
predicting class 'Y'
or 'N' if loan is sanctioned or not 
dataset Data.csv '''
import pandas as pd
import numpy as np
import math

df=pd.read_csv('Data_set.csv')
print(df)
age=df["Age"].tolist()
age=[int(i) for i in age]
inc=df["income"].tolist()
inc=[int(i) for i in inc]
cards=df["no. of cards"].tolist()
cards=[int(i) for i in cards]
loan=df["Loan"].tolist()
nage=int(input("Enter Age : "))
ninc=int(input("Enter Income : "))
nc=int(input("Enter number of cards : "))

   Age  income  no. of cards Loan
0   25   50000             3    Y
1   30   60000             2    N
2   22   45000             1    Y
3   35   75000             5    N
4   28   52000             3    Y
5   40   90000             4    N
6   23   48000             2    Y
7   45   85000             6    N
8   31   62000             3    Y
9   38   78000             5    N

Enter Age :  23
Enter Income :  59000
Enter number of cards :  3

In [17]:

ec=[]
sa=[] 
si=[]
sc=[]
for i in range(len(age)):
    n=age[i]-nage
    n=n*n
    sa.append(n)
    n=inc[i]-ninc
    n=n*n
    si.append(n)
    n=cards[i]-nc
    n=n*n
    sc.append(n)
    n=math.sqrt(sa[i]+si[i]+sc[i])
    ec.append(n)
print(ec)
print(sa)
print(si)
print(sc)

[9000.00022222222, 1000.0249996875078, 14000.000178571427, 16000.004624999332, 7000.001785714058, 31000.004677419, 11000.000045454546, 26000.0094807675, 3000.0106666477036, 19000.006026314833]
[4, 49, 1, 144, 25, 289, 0, 484, 64, 225]
[81000000, 1000000, 196000000, 256000000, 49000000, 961000000, 121000000, 676000000, 9000000, 361000000]
[0, 1, 4, 4, 0, 1, 1, 9, 0, 4]

In [19]:
df['Eucledian dis']=ec
print(df)
df=df.sort_values('Eucledian dis')
print(df)
k=0
while(k%2==0):
 k=int(input("Enter odd value of k :"))
 if(k%2==0):
     print("Even k Enter again ")
loan=df["Loan"].tolist()
l=[]
for i in range(k):
    l.append(loan[i])
print("3 nearest values : ",l)
c1=0
c2=0;
for i in range(k):
    if(l[i]=='N'):
        c1=c1+1
    else:
        c2=c2+1
if c1>c2:
    nloan='N'
    print("Loan : "+nloan)
else:
    nloan='Y'
    print("Loan : "+nloan)

   Age  income  no. of cards Loan  Eucledian dis
0   25   50000             3    Y    9000.000222
1   30   60000             2    N    1000.025000
2   22   45000             1    Y   14000.000179
3   35   75000             5    N   16000.004625
4   28   52000             3    Y    7000.001786
5   40   90000             4    N   31000.004677
6   23   48000             2    Y   11000.000045
7   45   85000             6    N   26000.009481
8   31   62000             3    Y    3000.010667
9   38   78000             5    N   19000.006026
   Age  income  no. of cards Loan  Eucledian dis
1   30   60000             2    N    1000.025000
8   31   62000             3    Y    3000.010667
4   28   52000             3    Y    7000.001786
0   25   50000             3    Y    9000.000222
6   23   48000             2    Y   11000.000045
2   22   45000             1    Y   14000.000179
3   35   75000             5    N   16000.004625
9   38   78000             5    N   19000.006026
7   45   85000             6    N   26000.009481
5   40   90000             4    N   31000.004677

Enter odd value of k : 3

3 nearest values :  ['N', 'Y', 'Y']
Loan : Y